<div style="position: relative;" [ngStyle]="styles">
  <table class="users-table">
    <!-- <thead>
      <tr>
        <th v-for="item in items" :key="item" @click="execSort(item);">
          {{ USER[item].label }}
          <span class="sort"
            :class="{hidden: sort.key !== item, asc: sort.order === 'asc', desc: sort.order === 'desc'}"></span>
        </th>
        <th>{{LABELS.REMOVE_USER}}</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="user in users" :key="user.id">
        <td v-for="item in items" :key="item">{{user[item]}}</td>
        <td class="remove">
          <span :title="LABELS.REMOVE_USER" @click="removeUser(user.id)"></span>
        </td>
      </tr>
    </tbody> -->
  </table>
  <!-- <div class="indicator" v-show="indicator"></div> -->
</div>
